@namespace BlazzyCarousel.Components
@typeparam TItem
@implements IAsyncDisposable


<div class="bzc-carousel-wrapper" data-item-count="@ItemCount">
    @if (IsLoading)
    {
        <div class="bzc-loading">
            @if (LoadingTemplate != null)
            {
                @LoadingTemplate
            }
            else
            {
                <div class="bzc-spinner"></div>
                <p>Loading carousel...</p>
            }
        </div>
    }
    else if (IsEmpty)
    {
        <div class="bzc-empty">
            @if (EmptyTemplate != null)
            {
                @EmptyTemplate
            }
            else
            {
                <p>No items to display</p>
            }
        </div>
    }
    else
    {
        <div class="bzc-carousel-box @ThemeClass @CssClass" @ref="carouselRef">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Items!)
                    {
                        <div class="swiper-slide" @onclick="() => HandleItemClick(item)">
                            <div class="bzc-slide">
                                @ItemTemplate(item)
                                @if (ShowOverlay)
                                {
                                    <div class="bzc-overlay"></div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>