<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Playground.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <!-- BlazzyMotion.Carousel CSS -->
    <link rel="stylesheet" href="_content/BlazzyMotion.Carousel/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="_content/BlazzyMotion.Carousel/css/blazzy-carousel.css" />
    
    <!-- Carousel visibility fix -->
    <link rel="stylesheet" href="carousel-fix.css" />
    
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
    <!-- BlazzyMotion.Carousel JS -->
    <script src="_content/BlazzyMotion.Carousel/js/swiper-bundle.min.js"></script>

</body>

</html>
